<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>home-bobo</title>
<link href="css/layoutit.css" rel="stylesheet" th:href="@{/static/css/layoutit.css}">
<link rel="stylesheet" href="css/bootstrap-3.3.7.min.css" th:href="@{/static/css/bootstrap-3.3.7.min.css}">
<script type="text/javascript" src="js/jquery-2.1.1.min.js" th:src="@{/static/js/jquery-2.1.1.min.js}"></script>
<script type="text/javascript" src="js/bootstrap.min.js" th:src="@{/static/js/bootstrap.min.js}"></script>
</head>

<body>
	<!-- 引入头部文件  -->
	<nav class="navbar navbar-default navbar-fixed-top" role="navigation" th:include="public/header-login :: header_login"></nav>
	
<div class="container-fluid">

<div class="row-fluid">
	<!-- 引入轮播图 -->
	<div id="myCarousel" style="width:700px;height:400px;text-align:center;margin:0 auto" class="carousel slide" th:include="public/turnPic :: turn_pic"></div>
</div>

	<div class="row-fluid">
		<div class="col-md-2">
		的拉菲萨法发发送发放s的拉菲萨法发发送发放
		</div>
		<div class="col-md-10">
		战斗法师放松放松法法师法战斗法师放松放松法法师法战斗法师放松放松法法师法战斗法师放松放松法法师法战斗法师放松放松法法师法12
		</div>
	</div>
</div>

</body>
</html>
